@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  min-height: 100vh;
  background-color: #323437;
  color: #E2B716;
  text-align: center;
  position: relative;
}

header {
  background-color: #323437;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  font-size: 4rem;
  z-index: 1;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px 20px;
}

.item {
  flex: 1;
  text-align: left;
}

.item-img img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

/* Gallery styles */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 20px auto;
  max-width: 800px;
}

.gallery-item {
  position: relative;
  display: block;
}

.gallery img {
  width: 100%;
  height: auto;
  /*border-radius: 8px;*/ /* Add a border radius to the images */
}

/* Full-size overlay styles */
.full-size-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  text-align: center;
}

.full-size-overlay img {
  max-width: 90%;
  max-height: 90%;
  margin: 5% auto;
  display: block;
}

.gallery-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-title {
  font-size: 1rem;
  color: #E2B716; /* Match the existing text color */
  margin-top: 8px; /* Add some space between the image and the title */
  text-align: center;
}

